:root {
    --primary-color: #6F60CC;
    --secondary-text-color: #DDDDDD;
    --third-text-color: #6D7176;
    --forth-text-color: #DDDDDD;
    --container-bg-color: #DDDDDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 0 5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #fff;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav .brand {
    margin-right: auto;
}

.nav-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
}

.navlink {
    list-style: none;
}

.navlink a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 10px 15px;
}

.nav-center .navlink a:hover {
    text-decoration: underline;
}

.navlink a.btn-login {
    padding: 10px 40px;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
    border: none;
}

.navlink a.btn-login:hover {
    background-color: #6058b9;
    color: #fff;
    transition: 0.5s;
}

.brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.brand img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.brand span {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: bold;
}

/* Hero Design */
.hero {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    padding: 6rem 5%;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 100px;
    max-width: 1200px;
    width: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-text h1 {
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.hero-text .login-text {
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 15px;
    padding-left: 75px;
    color: var(--primary-color);
}

.hero-text p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
    line-height: 30px;
}

.list-points ul {
    list-style: number;
    padding: 0 40px;
}

.list-points li {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.list-points li::before {
    font-weight: bold;
    position: absolute;
    left: 0;
}

.btn-display {
    display: flex;
    flex-direction: row;
    /* justify-content: ; */
}

.btn-primary {
    /* display: inline-block; */
    background-color: var(--primary-color);
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 50px;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
}

.btn-primary:hover {
    background-color: #6058b9;
    color: #fff;
    transition: 0.5s;
}

.btn-book {
    /* display: inline-block; */
    /* background-color: var(--primary-color); */
    color: var(--third-text-color);
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 50px;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/image-login.png');
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

/* Login */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login-container {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    padding: 6rem 5%;
    height: 70vh;
}


.login-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 20px; /* Reduced gap to bring divs closer */
    max-width: 1200px;
    width: 100%;
}

.login-form {
    width: 463px;
    padding: 40px 40px 40px 123px;
    text-align: left;
    margin-left: 60px;
}

.login-form h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--primary-color);
}

.form-group {
    margin-bottom: 15px;
}

.form-group:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: var(--third-text-color);
    margin-bottom: 5px;
}

.form-group input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s ease;
}

.form-group input:focus {
    border-color: #3cb0fd;
}

.btn-login {
    width: 300px;
    background: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-login:hover {
    background: #6058b9;
}

.form-group p {
    margin-top: 10px;
    font-size: 14px;
    color: var(--third-text-color);
}

.form-group p a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.form-group p a:hover {
    text-decoration: underline;
}

.login-image {
    width: 100%;
    height: 100%;
    background-image: url('../images/image-login.png');
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

/* .login-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
} */